/* text styling */

body {
  font-family: sans-serif;
  margin: 0px;
}

p {
  margin: 3px;
}

h2 {
  margin: 5px;
  font-size: 30px;
}

h3 {
  margin-bottom: 2px;
}

.italicText {
  font-style: italic;
}
.boldText {
  font-weight: 800;
}

a {
  color: black;
  outline: none;
  text-decoration: none;
  word-wrap: break-word;
  width: 200px;
}

/* media styling */

.avatar {
  height: 125px;
  border-radius: 10px;
  margin-right: 10px;
}

.repoIcons {
  align-items: center;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

.forkPic {
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.starPic {
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

/* div styleing */

#inputBox[type="text"] {
  width: 97%;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../media/searchicon.png);
  background-size: 20px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 35px;
}

.button {
  height: 45px;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  /* margin-left: 5px; */
}

.repoName {
  align-items: center;
  height: 25px;
  display: flex;
  padding: 3px;
  font-weight: 600;
}

#errorBox {
  height: 80px;
  width: 100%;
  color: #af4545;
  font-weight: 500;
  background-color: #f9dede;
  border-radius: 10px;
  display: none;
  word-wrap: break-word;
  margin: 10px 0px 0px 10px;
  justify-content: end;
  align-items: center;
  padding-left: 10px;
  margin-top: 20px;
}

.repo {
  max-width: 420px;
  min-width: 400px;
  border-bottom: #efefef;
  border-bottom-style: solid;
  padding: 10px;
}

.overFlow {
  overflow-y: scroll;
  max-height: 350px;
}

.floatingDiv {
  width: 450px;
  /* height: 80%; */
  box-shadow: 15px 15px 20px 10px #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 50px;
  background-color: white;
  padding: 25px;
}

/* content display */

.margins {
  margin: 30px 0px 30px 0px;
}

.width100 {
  width: 100%;
}
.width70 {
  width: 70%;
}
.width30 {
  width: 30%;
}

/* div alinement */

.flex {
  display: flex;
}

.flexBaseline {
  align-items: baseline;
}

.flexCol {
  flex-direction: column;
}

.flexBetween {
  justify-content: space-between;
}

.flexCenterColumn {
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  height: 100vh;
}

.mainBodyWidth {
  width: 100%;
  padding-bottom: 5px;
}

#loader {
  display: none;
  position: absolute;
  bottom: 40%;
  left: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #a3a3a3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 100px;
  height: 100px;
  opacity: 0.6;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#hideDiv {
  display: none;
  background-color: white;
}

#loaderDiv {
  display: none;
}

/* styling for phones and tablets */

@media only screen and (min-device-width: 319px) and (max-device-width: 800px) {
  .floatingDiv {
    width: 85%;
  }
  .flexBetween {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #errorBox {
    height: 180px;
    font-size: 50px;
  }

  #hideDiv {
    height: 90%;
    font-size: 50px;
  }
  #reposName {
    height: 58vh;
    width: 85%;
  }
  .repoName {
    height: 100%;
    padding: 15px;
  }
  .repo {
    font-size: 50px;
    max-width: none;
    min-width: none;
  }
  a {
    width: 100%;
  }
  .overFlow {
    max-height: 100%;
  }
  .flexBaseline {
    justify-content: center;
  }
  .mainBodyWidth {
    justify-content: center;
  }
  #inputBox[type="text"] {
    width: 97%;
    height: 90px;
    font-size: 50px;
    margin-bottom: 20px;
    background-image: none;
    /* margin: 10px 10px 10px 35px; */
  }
  .width70 {
    width: 100%;
  }
  .profileInfo {
    font-size: 50px;
  }
  .forkPic {
    height: 40px;
  }
  .starPic {
    height: 40px;
  }
  .avatar {
    height: 230px;
  }

  .button {
    height: 80px;
    font-size: 25px;
    margin: 10px;
  }
}
